@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: url(./bg.jpg);
	color: white;
	background-size: cover;
	height: 100vh;
	justify-content: space-between;
	font-family: 'Raleway', sans-serif;
}

.login-container {
	content: ' ';
	width: 100%;
	height: 100%;
	display: flex;
	padding: 35vh 0;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background: rgba(22, 33, 58, 0.61);
}

.input {
	width: 500px;
	display: flex;
	padding: 0.6rem 0;
	margin: 0.3rem;
	background: rgba(0, 0, 0, 0.377);
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1em);
	border-radius: .5rem;
}

.input .icon-area {
	border-right: 1px solid rgba(209, 209, 209, 0.377);
	position: relative;
	width: 50px;
	margin: 0.7rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input .input-area {
	padding: 0 0.7rem;
	outline: 0;
	border: 0;
}

.input .input-area {
	position: relative;
	width: 80%;
}

.input span {
	pointer-events: none;
	user-select: none;
	font-weight: 900;
	position: absolute;
	left: 0.8rem;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.4s;
	color: rgb(165, 165, 165);
}

.input .input-area input {
	padding: 1rem 0;
	background: transparent;
	outline: 0;
	width: 100%;
	border: 0;
	color: rgb(192, 192, 192);
}

.custom-input:focus {
	transform: translateY(8px);
} 

.custom-input:focus + .custom-placeholder {
	color: rgb(255, 255, 255);
	position: absolute;
	font-weight: 600;
	font-size: 0.8rem;
	top: 25%;
}

.custom-input:not(:placeholder-shown) + .custom-placeholder {
	color: rgb(255, 255, 255);
	position: absolute;
	font-weight: 600;
	font-size: 0.8rem;
	top: 25%;
}

.custom-input:not(:placeholder-shown) {
	transform: translateY(5px);
}

.input .icon-area i {
	color: rgba(255, 255, 255, 0.74);
}

button {
	width: 130px;
	transition: all 0.33s;
	padding: 1rem;
	border: none;
	border-radius: .3rem;
	display: flex;
	justify-content: space-evenly;
	font-weight: 900;
	align-items: center;
	text-transform: uppercase;
	color: white;
	outline: none;
	background: rgba(0, 0, 0, 0.411);
	backdrop-filter: blur(1em); 
	-webkit-backdrop-filter: blur(1em);
}

button:hover {
	transform: scale(1.1);
}
